<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheapBuy</title>
</head>
<body>
    <!-- Your HTML content for the input form goes here -->
    <form action="/result" method="post">
        <label for="url">Enter the product URL:</label>
        <input type="text" id="url" name="url" required>
        <!-- Add other form fields as needed -->

        <label for="sites">Select the website:</label>
        <select id="sites" name="sites">
            <option value="All Sites">All Sites</option>
            <option value="amazon">Amazon</option>
            <option value="walmart">Walmart</option>
            <option value="ebay">Ebay</option>
            <option value="bjs">BJ's</option>
            <option value="costco">Coscto</option>
            <option value="bestbuy">BestBuy</option>
            <option value="traderjoes">Traderjoes</option>
            <option value="kroger">Kroger</option>
            <!-- Add other options as needed -->
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
